<form [formGroup]="form" fxLayout="column">
  <div fxLayoutAlign="space-between">
    <mat-form-field fxFlex="47">
      <input mat-select placeholder="Segmento">
        <mat-option>
          Null
        </mat-option>  
      </mat-select>
    </mat-form-field> 
    <mat-form-field fxFlex="47">
      <input matInput formControlName = "descricao" placeholder="Descrição">
        <mat-error *ngIf="form.controls['descricao'].hasError('required')">
          Campo Obrigatório
        </mat-error>
    </mat-form-field>      
  </div>  
  <div fxLayoutAlign="space-between">
    <mat-form-field fxFlex="47">
      <input matInput [matDatepicker]="dataInicio" formControlName = "dataInicio" placeholder="Data Início">
        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
        <mat-datepicker #dataInicio></mat-datepicker>
        <mat-error *ngIf="form.controls['dataInicio'].hasError('required')">
          Campo Obrigatório
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="47">
      <input matInput [matDatepicker]="dataTermino" formControlName = "dataTermino" placeholder="Data Término">
        <mat-datepicker-toggle matSuffix [for]="dataTermino"></mat-datepicker-toggle>
        <mat-datepicker #dataTermino></mat-datepicker>    
        <mat-error *ngIf="form.controls['dataTermino'].hasError('required')">
          Campo Obrigatório
        </mat-error>
    </mat-form-field>                
  </div>  
  <div>
    <mat-form-field fxFlex="70">
      <input matInput formControlName = "urlLogo" placeholder="Url Logo">
        <mat-error *ngIf="form.controls['urlLogo'].hasError('required')">
          Campo Obrigatório
        </mat-error>
    </mat-form-field>
    <img class="logo" src="asdasd">
  </div>  
  <div>
    <mat-form-field fxFlex="70">
      <mat-select placeholder="Instrutores">
        <mat-option>
          Null
        </mat-option>  
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" fxFlexOffset="40px">
      <mat-icon>add</mat-icon>
    </button>
  </div>  

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button (click)="salvar()" [disabled]="!form.valid" type="button" color="primary">
      {{id? 'Alterar': 'Cadastrar'}}</button>
    <button mat-raised-button type="button" color="warn" routerLink="/main/usuario/consulta">Cancelar</button>
  </div>
  <br/>  
</form>