<form [formGroup]="form" fxLayout="column">
    <mat-form-field fxFlex="100">
      <input matInput formControlName = "nome" placeholder="Nome">
        <mat-error *ngIf="form.controls['nome'].hasError('required')">
          Campo Obrigatório
        </mat-error>
    </mat-form-field>
  <mat-form-field fxFlex="100">
    <input matInput formControlName = "email" placeholder="E-mail">
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        Campo Obrigatório
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
        Email inválido
      </mat-error>      
  </mat-form-field>
<div fxFlex="100" fxLayout="row">
  <mat-form-field fxFlex="47">
    <input matInput formControlName = "login" placeholder="Login">
      <mat-error *ngIf="form.controls['login'].hasError('required')">
        Campo Obrigatório
      </mat-error>      
  </mat-form-field>
  <span fxFlex="6"></span>
  <mat-form-field fxFlex="47">
    <mat-select placeholder="Perfis" formControlName = "perfil" name="item">
      <mat-option *ngFor= "let perfil of perfis" [value]="perfil.id">
        {{ perfil.descricao }}
      </mat-option>      
    </mat-select>
    <mat-error *ngIf="form.controls['perfil'].hasError('required')">
      Campo Obrigatório
    </mat-error>    
</mat-form-field>
</div>
  <div div fxFlex="100" fxLayout="row">
    <mat-form-field fxFlex="47">
      <input matInput formControlName = "senha" type="password" placeholder="Senha">
        <mat-error *ngIf="form.controls['senha'].hasError('required')">
          Campo Obrigatório
        </mat-error>          
    </mat-form-field>
    <span fxFlex="6"></span>
    <mat-form-field fxFlex="47">
      <input matInput formControlName = "confirmacao" type="password" placeholder="Confirmação">
        <mat-error *ngIf="form.controls['confirmacao'].hasError('passwordEquals')">
          Senhas não conferem
        </mat-error>        
    </mat-form-field>    
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-raised-button (click)="salvar()" [disabled]="!form.valid" type="button" color="primary">
      {{id? 'Alterar': 'Cadastrar'}}</button>
    <button mat-raised-button type="button" color="warn" routerLink="/main/usuario/consulta">Cancelar</button>
  </div>
  <br/>  
</form>